<!-- <form class="p-3 mt-3" [formGroup]="loginprofileForm" (ngSubmit)="onSubmit(loginprofileForm.value)">
    <div class="form-field d-flex align-items-center">
        <span class="far fa-user"></span>
        <input type="text" name="userName" id="userName" placeholder="Username" formControlName="name">
    </div>
    <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input type="password" name="password" id="pwd" placeholder="Password" formControlName="password">
    </div>
    <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <select formControlName="role">
            <option value="user">USER</option>
            <option value="admin">ADMIN</option>
        </select>
    </div>
    
    <button class="btn mt-3">Login</button>
</form> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>